* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    text-align: left;
}

.content-block {
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.ant-picker {
    width: 100%;
}
